button,
#root .boton-contratar {
  background: #84A98C;
  padding: 10px;
  border: none;
  color:black;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'calibri';
  border: 1px solid #373936;
  text-align: center;
}

button:hover,
.boton-contratar:hover {
  background: #2F3E46;
  cursor: pointer;
  color: white;
}