button {
  background: #ffffff1a;
  padding: 8px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Montserrat';
}

button:hover {
  background: #ffffff;
  cursor: pointer;
}

button