.single-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 0.5rem;

}

.single-comment p {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

.single-comment img{
    display: flex;
    align-items: center;
    width: 20px;
    height: auto;
    border-radius: 50%;
}