footer {
    background-color: #354F52;
    color: white;
    padding: 0.8rem;
    text-align: center;
    font-family: 'Montserrat';
}

.light footer {
    background-color: #ffffff;
    color: rgb(58, 58, 58);
    padding: 0.8rem;
    text-align: center;
    font-family: 'Montserrat';
}