.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
    background: #354F52;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
  }

.light .formulario {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
    background: #dfdfdf23;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 16px;
  }
  
  .formulario h3 {
    text-align: center;
    color: #c9c9c9;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    background: #52796F;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #373936;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .light  .form-input {
    width: 100%;
    background: #ffffffaf;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #37393600;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .formulario p {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 1rem;
  }
  
  .formulario a {
    color: rgb(192, 190, 190);
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .formulario button {
    background: #84A98C;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 18px;
  }

  .light .formulario button {
    background: #1865ff;
    padding: 7px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bolder;
  }

  .formulario button:hover {
    background: #2F3E46;
    cursor: pointer;
  }

  fieldset {
    border: none;
  }