.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
    background: #f5f2f2;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
  }
  
  .formulario fieldset {
    border: 0;
  }

  .formulario h3 {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    background: #f8fcfb;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .formulario p {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 1rem;
  }
  
  .formulario a {
    color: white;
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .formulario button {
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    box-shadow: 0 0 0 0 #fff;
    cursor: pointer; 
    transition: box-shadow .25s ease-out,background-color .2s ease-out,-webkit-box-shadow .25s ease-out;
    box-sizing: border-box;
  }

  .formulario button:hover {
    background-color: #0b52bd;
    cursor: pointer;
  }