#root > header {
  padding: 0.5rem;
}

header {
  background-color:#354F52;
  color: white;
  display: flex;
  flex-direction: column;
}

.light header {
  background-color: #001686;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

#root > header h1{
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

h1 a:hover{
  color: #84A98C;
  text-decoration: underline;
}

#root > header ul {
  display: flex;
  list-style: none;
  gap : 0.5rem;
}

 header .user-header {
  color: #84A98C;
  font-size: 20px;
}

.light header .user-header {
  color: #e2e2e2;
  font-size: 20px;
  font-weight: bolder;
}

div .header {
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
display: flex;
}