header a {
  color: #9cc5a5;
}


#root > header {
  padding: 1rem;
}

header {
  background-color:#354F52;
  color: rgb(0, 0, 0);
}

#root > header h1{
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

#root > header ul {
  display: flex;
  list-style: none;
  gap : 1rem;
}


.user-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

a.user-header {
  color: rgb(0, 4, 255);
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}