#root > header {
  padding: 0.5rem;
}

header {
  background-color:#354F52;
  color: white;
}

.light header {
  background-color: #e7d401;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

#root > header h1{
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

#root > header ul {
  display: flex;
  list-style: none;
  gap : 1rem;
}

 header .user-header {
  color: #84A98C;
  font-size: 20px;
}

.light header .user-header {
  color: #001686;
  font-size: 20px;
  font-weight: bolder;
}