*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited, a:active, a{
  text-decoration:none;
}
header a {
  color: #9cc5a5;
}

h1 a {
  color: white;
}

h1 a:hover{
  color : white;
  text-decoration: underline;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#52796F;
}
main{
  flex: 1;
  padding: 1rem;
}

#root > header {
  padding: 1rem;
}

header {
  background-color:#354F52;
  color: white;
}

#root > header h1{
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

#root > header ul {
  display: flex;
  list-style: none;
  gap : 1rem;
}

h3{
  text-transform: uppercase;
}

section > h2 {
  margin-bottom: 1rem;
}

h2 {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(136, 159, 151);
  text-align: center;
  color : white;
}

.auth-conectado {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: right;
}

.header-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.homepage-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #52796F;
}
