*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited, a:active, a{
  text-decoration:none;
}

h1 a {
  color: white;
}

h1 a:hover{
  color : white;
  text-decoration: underline;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#52796F;
}
main{
  flex: 1;
  padding: 1rem;
}

#root > header {
  padding: 1rem;
}

header {
  background-color:#354F52;
  color: white;
}

#root > header h1{
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

#root > header ul {
  display: flex;
  list-style: none;
  gap : 1rem;
}

h3{
  text-transform: uppercase;

}

footer {
  text-align: center;
}
section > form,
section > h2 {
  margin-bottom: 1rem;
}

h2 {
  color : white;
}

form input {
  flex-grow: 1;
  padding: 0.3rem 1rem;
  align-items: center;
}


ul.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  text-transform: initial;
}

ul.services-list li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #2F3E46;
  border-radius: 0.5rem;
  background-color: #ffe3b6;
}

.auth-conectado {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: right;
}

.servicelist {
  margin : 1rem;
}

.header-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.homepage-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #52796F;
}
