@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a:link, a:visited, a:active, a{
  text-decoration:none;
}


h1 a {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat';
}

h1 a:hover{
  color : white;
  text-decoration: underline;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#ffffff;
}
main{
  flex: 1;
  padding: 1rem;
}

h3{
  text-transform: uppercase;
}

section > h2 {
  margin-bottom: 1rem;
}

h2 {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(136, 159, 151);
  text-align: center;
  color : white;
  border : 1px solid #52796F;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.auth-conectado {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: right;
}

.header-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.homepage-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff159;
}
